<div class="tab-pane p-3 active" id="profile7" role="tabpanel">
                <table class="table">
                    <thead class="bg-inverse text-white">
                        <tr>
                            <th>STT</th>
                            <th>Tên danh mục</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each cats}}                       
                        <tr>
                            
                            <td>{{STT}}</td>
                            <td >
                                <p id="catname{{CatID}}">{{CatName}}</p>
                                 <textarea id='editcatname{{CatID}}' style='display:none'>{{CatName}}</textarea>
                            </td>                                              
                            <td>
                            <button data-catid="{{CatID}}" class="btn btn-primary edit"><i class="fas fa-pencil-alt"></i></button>
                             <button data-catid="{{CatID}}" class="btn btn-primary save"><i class="fas fa-download"></i></button>
                            <button data-catid="{{CatID}}"  class="btn btn-danger del"><i class="fas fa-trash"></i></button data-catid="{{CatID}}">
                             <a  href="/admin/categorydetail/{{CatID}}" class="btn btn-success detail"><i class="fas fa-address-book"></i></a>
                            </td>                                          
                        </tr>
                        
                        {{/each}}
                      <tr id="add"style="display:none">
                            
                            <td></td>
                            <td >
                                <p id="catnameadd"></p>
                                 <textarea id='editcatnameadd' style='display:none'></textarea>
                            </td>                                              
                            <td>
                            <button  class="btn btn-primary edit"><i class="fas fa-pencil-alt"></i></button>
                             <button  class="btn btn-primary save"><i class="fas fa-download"></i></button>
                          
                           
                            </td>                                          
                        </tr>
                        
                    </tbody>
                </table>
                  <button class="btn btn-info add"><i class="fas fa-copy"></i></button>
            </div>

<script src="/admin/js/category.js"></script>