<div class="tab-pane p-3 active" id="profile7" role="tabpanel">
                <table class="table">
                    <thead class="bg-inverse text-white">
                        <tr>
                            <th>STT</th>
                            <th>Tên loại</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each catDetail}}                       
                        <tr>
                            
                            <td>{{STT}}</td>
                            <td >
                                <p id="catname{{ID}}">{{Name}}</p>
                                 <textarea id='editcatname{{ID}}' style='display:none'>{{Name}}</textarea>
                            </td>                                              
                            <td>
                            <button data-catid="{{ID}}" class="btn btn-primary edit"><i class="fas fa-pencil-alt"></i></button>
                             <button data-catid="{{ID}}" class="btn btn-primary save"><i class="fas fa-download"></i></button>
                            <button data-catid="{{ID}}"  class="btn btn-danger del"><i class="fas fa-trash"></i></button data-catid="{{ID}}">
                            </td>                                          
                        </tr>
                        
                        {{/each}}
                      <tr id="add"style="display:none">
                            
                            <td></td>
                            <td >
                                <p id="catnameadd"></p>
                                 <textarea id='editcatnameadd' style='display:none'></textarea>
                            </td>                                              
                            <td>
                            <button  class="btn btn-primary edit"><i class="fas fa-pencil-alt"></i></button>
                             <button  class="btn btn-primary " id="saveadd"><i class="fas fa-download"></i></button>
                          
                           
                            </td>                                          
                        </tr>
                        
                    </tbody>
                </table>
                  <button class="btn btn-info add" data-catid="{{CatID}}"><i class="fas fa-copy"></i></button>
            </div>

<script src="/admin/js/categorydetail.js"></script>