<div class="tab-pane p-3 active" id="profile7" role="tabpanel">
                <table class="table">
                    <thead class="bg-inverse text-white">
                        <tr>
                            <th>STT</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                             <th>Bước giá</th>
                            <th>Ngày đăng</th>
                             <th>Kết thúc</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products}}                       
                        <tr>
                            
                            <td>{{STT}}</td>
                            <td >
                                {{ProName}}                        
                            </td>
                            <td>{{Price}}</td>
                            <td>{{Bit_Price}}</td>    
                            <td>{{Up_Pro}}</td>
                            <td>{{Dead_time}}</td>                                             
                            <td>
                            
                            <button data-proid="{{ProID}}"  class="btn btn-danger del"><i class="fas fa-trash"></i></button data-catid="{{CatID}}">
                            
                            </td>                                          
                        </tr>
                        
                        {{/each}}
                    
                    </tbody>
                </table>
                 
            </div>

<script src="/admin/js/products.js"></script>