<div class="tab-pane p-3 active" id="profile7" role="tabpanel">
                <table class="table">
                    <thead class="bg-inverse text-white">
                        <tr>
                            <th>STT</th>
                            <th>Tên</th>                          
                            <th>Điểm</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        {{#each upgraderseller}}                       
                        <tr>
                            
                            <td>{{STT}}</td>
                            <td >
                                {{Name}}                        
                            </td>
                            <td>{{Scored_Report}}</td>
                            <td></td>
                                                            
                            <td>                   
                           <button data-userid="{{ID_User}}" class="btn btn-primary duyet">Duyệt</button>
                             <button data-userid="{{ID_User}}" class="btn btn-success tuchoi">Từ chối</i></button>                       
                            </td>
                                                                    
                        </tr>
                        
                        {{/each}}
                    
                    </tbody>
                </table>
                 
            </div>
<script src="/admin/js/upgradeseller.js"></script>

