<div class="tab-pane p-3 active" id="profile7" role="tabpanel">
                <table class="table">
                    <thead class="bg-inverse text-white">
                        <tr>
                            <th>STT</th>
                            <th>Tên đăng nhập</th>
                            <th>Tên</th>
                             <th>Email</th>
                            <th>Điểm</th>
                             <th>Quyền</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each account}}                       
                        <tr>
                            
                            <td>{{STT}}</td>
                            <td >
                                {{f_Username}}                        
                            </td>
                            <td>{{f_Name}}</td>
                            <td>{{f_Email}}</td>    
                            <td>{{Scored_Report}}</td>
                            {{#ifEquals Role 1}}
                                <td id='Role{{f_ID}}'>Bidder</td>                                
                            {{/ifEquals}}  
                            {{#ifEquals Role 2}}
                                <td id='Role{{f_ID}}'>Seller</td>                                
                            {{/ifEquals}}
                             {{#ifEquals Role 3}}
                                <td id='Role{{f_ID}}'>Admin</td>                                
                            {{/ifEquals}}  
                            <td id='selectRole{{f_ID}}' style="display:none">
                                 <select class="form-control custom-select" required name="Role">
                                {{#each Rolelist}}
                                <option value="{{ID}}">{{Name}}</option>
                                {{/each}}
                            </select>
                            </td>                                   
                            <td>
                            
                           <button data-userid="{{f_ID}}" class="btn btn-primary edit"><i class="fas fa-pencil-alt"></i></button>
                             <button data-userid="{{f_ID}}" class="btn btn-success save"><i class="fas fa-download"></i></button>
                            
                            </td>
                            </td>                                         
                        </tr>
                        
                        {{/each}}
                    
                    </tbody>
                </table>
                 
            </div>

<script src="/admin/js/user.js"></script>