<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
  <title>Monster Admin Template - The Most Complete & Trusted Bootstrap 4 Admin Template</title>
  <link rel="canonical" href="https://www.wrappixel.com/templates/monsteradmin/" />
  <!-- Bootstrap Core CSS -->
  <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="/css/style.css" rel="stylesheet">
  <!-- You can change the theme colors from here -->
  <link href="/css/colors/green.css" id="theme" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
  </div>
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <section id="wrapper">
    <div class="login-register" style="background-image:url(/assets/images/background/login-register.jpg);">
      <div class="login-box card">
        <div class="card-body">
          <form class="form-horizontal form-material" id="loginform" action="/account/createAccount" method="POST">
            <h3 class="box-title mb-3">Sign Up</h3>
            <div class="form-group">
              <div class="col-xs-12">
                <input class="form-control" name="name" type="text" required="" placeholder="FullName">
              </div>
            </div>
            <div class="form-group ">
              <div class="col-xs-12">
                <input class="form-control" name="email" type="text" required="" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <input class="form-control" name="username" type="text" required="" placeholder="Username">
              </div>
            </div>
            <div class="form-group ">
              <div class="col-xs-12">
                <input class="form-control" name="password" type="password" required="" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <input class="form-control" type="password" name="confirmpassword" required=""
                  placeholder="Confirm Password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <input class="form-control" type="date" name="DOB" required="" placeholder="Date Of Birth">
              </div>
            </div>
            {{#if error}}
            <div class="alert alert-danger" role="alert">
              {{error}}
            </div>
            {{/if}}
            <div class="form-group">
              <div class="col-md-12">
                <div class="checkbox checkbox-success pt-0 pl-2">
                  <input id="checkbox-signup" type="checkbox">
                  <label for="checkbox-signup"> I agree to all <a href="#">Terms</a></label>
                </div>
              </div>
            </div>
            <div class="form-group text-center mt-3">
              <div class="col-xs-12">
                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Sign
                  Up</button>
              </div>
            </div>
            <div class="form-group mb-0">
              <div class="col-sm-12 text-center">
                <p>Already have an account? <a href="login.html" class="text-info ml-1"><b>Sign In</b></a></p>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>

  </section>
  <!-- ============================================================== -->
  <!-- End Wrapper -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- All Jquery -->
  <!-- ============================================================== -->
  <script src="/assets/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap tether Core JavaScript -->
  <script src="/assets/plugins/bootstrap/js/popper.min.js"></script>
  <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <!-- slimscrollbar scrollbar JavaScript -->
  <script src="/js/jquery.slimscroll.js"></script>
  <!--Wave Effects -->
  <script src="/js/waves.js"></script>
  <!--Menu sidebar -->
  <script src="/js/sidebarmenu.js"></script>
  <!--stickey kit -->
  <script src="/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
  <!--Custom JavaScript -->
  <script src="/js/custom.min.js"></script>
  <!-- ============================================================== -->
  <!-- Style switcher -->
  <!-- ============================================================== -->
  <script src="/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
</body>

</html>