
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- chartist chart -->
    <script src="/assets/plugins/chartist-js/dist/chartist.min.js"></script>
    <script src="/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!-- Chart JS -->
    <script src="/assets/plugins/echarts/echarts-all.js"></script>
    <script src="/assets/plugins/toast-master/js/jquery.toast.js"></script>
    <!-- Chart JS -->
    <script src="/js/dashboard1.js"></script>
    <script src="/js/toastr.js"></script>
    <script>
    $.toast({
        heading: 'Welcome to Monster admin',
        text: 'Use the predefined ones, or specify a custom position object.',
        position: 'top-right',
        loaderBg: '#ff6849',
        icon: 'info',
        hideAfter: 3000,
        stack: 6
    });
    </script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>

     <script src="/js/watchlist.js"></script>
     <!-- Style alert -->

     <script src="/assets/plugins/sweetalert2/dist/sweetalert2.all.min.js"></script>

     <script src="/assets/plugins/sweetalert2/sweet-alert.init.js"></script>
     <script>
         $("#close").click(function(){
             $("#alert1").hide();
             
         })
         $("#ok").click(function(){
             $("#alert1").hide();
         })
         $(".card-img-top").css({"width": "270px", "height": "180px"})
     </script>
    
  