{{#if notify}}
<p>{{notify}}</p>
{{else}}
<div class="card card-outline-info">
    <div class="card-header">
        <h4 class="mb-0 text-white">Đăng sản phẩm đấu giá</h4>
    </div>
    <div class="card-body">
        <form action="/createproduct" method="POST" enctype="multipart/form-data">
            <div class="form-body">
                <div class="row pt-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Tên sản phẩm</label>
                            <input type="text" name="proname" class="form-control" required placeholder="Tên sản phẩm">
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group has-success">
                            <label class="control-label">Danh mục</label>
                            <select class="form-control custom-select" required name="catid">
                                {{#each cats}}
                                <option value="{{CatID}}">{{CatName}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Giá khơi điểm (VNĐ)</label>
                            <input type="number" name="price" class="form-control" required placeholder="Giá khơi điểm">
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group has-success">
                            <label class="control-label">Loại</label>
                            <select class="form-control custom-select" required name="catdelid">
                                {{#each cats}}
                                {{#each Detail}}
                                <option value="{{ID}}">{{Name}}</option>
                                {{/each}}
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Bước giá (VNĐ)</label>
                            <input type="number" name="bit_price" class="form-control" required placeholder="Bước giá">
                        </div>
                    </div>

                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="example-input-file">Hình ảnh (Tối thiểu 3 ảnh)</label>
                            <input type="file" id="files"name="files" class="form-control-file border" required multiple>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-success">
                            <label class="control-label">Tự động gia hạn</label>
                            <select class="form-control custom-select" required name="auto">
                                <option value="0">Không</option>
                                <option value="1">Có</option>
                            </select>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="form-group has-success">
                            <label class="control-label">Ngày kết thúc</label>
                             <input type="date" name="dead_time" class="form-control" required placeholder="Ngày kết thúc">
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="example-input-file">Mô tả sản phẩm</label>
                            <textarea formenctype="multipart/form-data" id="mytextarea" required
                                name="FullDes">Mo ta san pham!</textarea>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i>Đăng sản phẩm</button>
                </div>
        </form>
    </div>
</div>
{{/if}}
<script>
    $("#files").change(function(){
     
        if ($("#files").get(0).files.length<3) 
        {
            $("#files").after(`
            <div class="alert alert-danger">
                Số file ảnh phải lớn hơn hoặc bẳng 3!
</div>
            `);
        }
        
    })
  
    

   
</script>