<div class="card">
    <div class="card-body pb-0">
        <h4 class="card-title">Quản lý hồ sơ cá nhân</h4>
        <h6 class="card-subtitle">Seller</h6>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs customtab2" role="tablist">
            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home7" role="tab"
                    aria-selected="true"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span
                        class="hidden-xs-down">Sản phẩm đang đăng và còn hạn</span></a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile7" role="tab"
                    aria-selected="false"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span
                        class="hidden-xs-down">Sản phẩm đã có người thắng</span></a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages7" role="tab"
                    aria-selected="false"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span
                        class="hidden-xs-down">Messages</span></a> </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="home7" role="tabpanel">
                <div class="row">
                    <!-- column -->
                    {{#each products}}
                    <div class="col-lg-3 col-md-6">
                        <!-- Card -->
                        <div class="card">
                            <img class="card-img-top img-responsive" src="/Images/products/{{ProID}}/1.jpg"
                                alt="Card image cap">
                            <div class="card-body">

                                <h4 class="card-title">{{ProName}}</h4>
                                <h4>Giá: {{Price}} VNĐ</h4>
                                <h6>Bidder Max: {{User_Max}}</h6>
                                <h6>Ngày đăng: {{Up_Pro}}</h6>
                                <h6>Kết thúc: {{Dead_time}}</h6>
                                <h6>Lượt ra giá: {{NoAuction}}</h6>
                                <a href="/detail/products/{{ProID}}" class="btn btn-primary">Chi tiết</a>
                                <button type="button" data-proid={{ProID}} data-proname="{{ProName}}"
                                    class="btn btn-danger watchlist" aria-haspopup="true" aria-expanded="false">
                                    <i class="mdi mdi-heart"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Card -->
                    </div>

                    <!-- column -->
                    <!-- column -->
                    {{/each}}
                </div>
            </div>
            <div class="tab-pane p-3" id="profile7" role="tabpanel">
                <table class="table">
                    <thead class="bg-inverse text-white">
                        <tr>
                            <th>STT</th>
                            <th>Tên người thắng</th>
                            <th>Tên sản phẩm</th>
                            <th>Nhận xét</th>
                            <th>Giá</th>
                            <th>Đánh giá</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each listwin}}
                        <tr id="{{STT}}">
                            <td>{{STT}}</td>
                            <td>{{Name_User}}</td>
                            <td>{{Name_Pro}}</td>
                            <td>
                                <p id="showcomment">{{RPORTS}}</p>
                                <textarea style="display:none" name="Comment" id="Comment">
                                                    {{RPORTS}}
                            </textarea>
                            </td>

                            <td>{{PRICE}}

                            </td>

                            <td>
                                <button type="text" data-value="1" class="btn  vote"><i class="icon-like"></i></button>
                                <button type="text" data-value="-1" class="btn vote"><i
                                        class="icon-dislike"></i></button>
                            </td>

                            <td>
                                <button type="text" class="btn btn-primary edit"><i
                                        class="fas fa-pencil-alt"></i></button>
                                <button type="text" data-userid="{{ID_USER}}" data-sellerid="{{ID_SELLER}}"
                                    data-proid="{{ID_PRO}}" class="btn btn-success save"><i
                                        class="fas fa-save"></i></button>
                                <button type="text" data-userid="{{ID_USER}}" data-sellerid="{{ID_SELLER}}" data-stt={{STT}}
                                    data-proid="{{ID_PRO}}"  class="btn btn-danger cancel"><i
                                        class="fas fa-trash"></i></button>
                            </td>

                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane p-3" id="messages7" role="tabpanel">3</div>
        </div>
    </div>
</div>
<script src="/js/seller.js"></script>