<div class="row">
  <div class="col-12">
    <h4 class="d-inline">Sản phẩm sắp kết thúc đấu giá </h4>
  </div>
</div>
<br>
<!-- Row -->
<div class="row">
  <!-- column -->
  {{#each psNearExpried}}
  <div class="col-lg-3 col-md-6">
    <!-- Card -->
    <div class="card">
      <img class="card-img-top img-responsive" src="/Images/products/{{ProID}}/1.jpg" alt="Card image cap">
      <div class="card-body">

        <h4 class="card-title">{{ProName}}</h4>
        <h4>Giá: {{Price}} VNĐ</h4>
        <h6>Bidder Max: {{User_Max}}</h6>
        <h6>Ngày đăng: {{Up_Pro}}</h6>
        <h6>Kết thúc: {{Dead_time}}</h6>
        <h6>Lượt ra giá: {{NoAuction}}</h6>
        <a href="/detail/products/{{ProID}}" class="btn btn-primary">Detail</a>
      </div>
    </div>
    <!-- Card -->
  </div>
  <!-- column -->
  <!-- column -->
  {{/each}}
</div>
<!-- Row -->


<div class="row">
  <div class="col-12">
    <h4 class="d-inline">Sản phẩm sắp kết thúc đấu giá </h4>
  </div>
</div>
<br>
      <!-- Row -->
      <div class="row">
        <!-- column -->
        {{#each psTopNoAution}}
        <div class="col-lg-3 col-md-6">
          <!-- Card -->
          <div class="card">
            <img class="card-img-top img-responsive" src="/Images/products/{{ProID}}/1.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{ProName}}</h4>
              <h4>Giá: {{Price}} VNĐ</h4>
              <h6>Bidder Max: {{User_Max}}</h6>
              <h6>Ngày đăng: {{Up_Pro}}</h6>
              <h6>Kết thúc: {{Dead_time}}</h6>
              <h6>Lượt ra giá: {{NoAuction}}</h6>
              <a href="/detail/products/{{ProID}}" class="btn btn-primary">Detail</a>
            </div>
          </div>
          <!-- Card -->
        </div>
        <!-- column -->
        <!-- column -->
        {{/each}}
      </div>
      <!-- Row -->


  <div class="row">
  <div class="col-12">
    <h4 class="d-inline">Sản phẩm có giá cao nhất</h4>
  </div>
</div>
<br>
      <!-- Row -->
      <div class="row">
        <!-- column -->
        {{#each psTopPrice}}
        <div class="col-lg-3 col-md-6">
          <!-- Card -->
          <div class="card">
            <img class="card-img-top img-responsive" src="/Images/products/{{ProID}}/1.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{ProName}}</h4>
              <h4>Giá: {{Price}} VNĐ</h4>
              <h6>Bidder Max: {{User_Max}}</h6>
              <h6>Ngày đăng: {{Up_Pro}}</h6>
              <h6>Kết thúc: {{Dead_time}}</h6>
              <h6>Lượt ra giá: {{NoAuction}}</h6>
              <a href="/detail/products/{{ProID}}" class="btn btn-primary">Detail</a>
            </div>
          </div>
          <!-- Card -->
        </div>
        <!-- column -->
        <!-- column -->
        {{/each}}
      </div>
      <!-- Row -->
   </div>
</div>