{{#if error}}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{{/if}}
<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="/Images/products/{{products.ProID}}/1.jpg" alt="Card image">
        </div>
        <div class="card">
            <div class="card-body">
                <small class="text-muted">Mô tả</small>
                <h6>{{{products.FullDes}}}</h6>
                <form action="/seller/addcomment" method="POST" enctype="application/x-www-form-urlencoded">
                    <div class="form-group" style="display:none">
                        <label for="example-input-file">Mô tả sản phẩm</label>
                        <input value="{{{products.FullDes}}}" name="FullDes">
                    </div>
                    <div class="form-group" style="display:none">
                        <label for="example-input-file">Mô tả sản phẩm</label>
                        <input value="{{{products.ProID}}}" name="ProID">
                    </div>
                    {{#ifEquals session.user products.Up_User_id}}
                    <div class="form-group">
                        <label for="example-input-file">Mô tả sản phẩm</label>
                        <textarea id="mytextarea" name="commentadd"> </textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                    {{/ifEquals}}
                </form>
                <small class="text-muted p-t-30 db">Số lượng</small>
                <h6>{{products.Quantity}}</h6>
                <small class="text-muted p-t-30 db">Số lần đấu</small>
                <h6>{{products.NoAuction}}</h6>

                <button type="button" data-proid={{ProID}} data-proname="{{ProName}}" class="btn btn-danger watchlist"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="mdi mdi-heart"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item">

                    <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Thông tin sản phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#anh" role="tab">Hình ảnh</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ragia" role="tab">Ra giá</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#lichsu" role="tab">Lịch sử đấu giá</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#duyetyeucau" role="tab">Duyệt đấu giá</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel">
                    <div class="card-body">
                        <div class="profiletimeline">
                            <div class="sl-item">

                                <div class="sl-right">
                                    <div>
                                        <small class="text-muted p-t-30 db">Tên sản phẩm</small>
                                        <h6>{{products.ProName}}</h6>
                                        <small class="text-muted p-t-30 db">Giá</small>
                                        <h6>{{products.Price}}</h6>
                                        <small class="text-muted p-t-30 db">Thông tin người bán</small>
                                        <h6>Tên: {{products.User_Up_info.f_Name}}</h6>
                                        <h6>Điểm đánh giá: {{products.User_Up_info.Scored_Report}}</h6>
                                        <small class="text-muted p-t-30 db">Người đặt giá cao nhất</small>
                                        <h6>Tên: {{products.User_Max_info.f_Name}}</h6>
                                        <h6>Điểm đánh giá: {{products.User_Max_info.Scored_Report}}</h6>
                                        <small class="text-muted p-t-30 db">Ngày đăng</small>
                                        <h6>{{products.Up_Pro}}</h6>
                                        <small class="text-muted p-t-30 db">Kết thúc</small>
                                        <h6>{{products.Dead_time}}</h6>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="anh" role="tabpanel">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="card">
                                    <img class="card-img-top img-responsive"
                                        src="/Images/products/{{products.ProID}}/2.jpg" alt="Card image cap">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="card">
                                    <img class="card-img-top img-responsive"
                                        src="/Images/products/{{products.ProID}}/3.jpg" alt="Card image cap">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="card">
                                    <img class="card-img-top img-responsive"
                                        src="/Images/products/{{products.ProID}}/4.jpg" alt="Card image cap">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="ragia" role="tabpane2">
                    {{#ifEquals session.user products.Up_User_id}}
                    <h1>Bạn không thể ra giá cho sản phẩm của mình</h1>
                    {{else}}
                    <div class="card-body">
                        {{#if products.Bid}}
                        <form class="form" action="/products/placebid" method="post">
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="placebid">
                                        <h4>Giá:</h4>
                                    </label>
                                    <input type="text" value="{{products.Price}}" class="form-control" name="placebid"
                                        id="placebid">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6" style="display:none">

                                    <input type="text" value="{{products.ProID}}" class="form-control" name="ProID"
                                        id="ProID">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-lg btn-success" type="submit"><i
                                            class="glyphicon glyphicon-ok-sign"></i>Ra giá</button>
                                </div>
                            </div>
                        </form>
                        {{else}}
                        <form class="form" action="/products/request_placebid" method="post">
                            <div class="form-group">
                                <div>
                                    <br>
                                    <button class="btn btn-lg btn-success" id="requestplacebidform" type="submit"
                                        data-SELLERID="{{products.Up_User_id}}" data-PROID="{{products.ProID}}"
                                        data-PRONAME="{{products.ProName}}"><i
                                            class="glyphicon glyphicon-ok-sign"></i>Yêu cầu đấu giá</button>
                                </div>
                            </div>
                        </form>
                        {{/if}}
                        {{#if auctionList}}

                        {{/if}}
                    </div>
                    {{/ifEquals}}

                </div>
                <div class="tab-pane active" id="lichsu" role="tabpane3">
                    <div class="card-body">
                        <div class="profiletimeline">
                            <div class="sl-item">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Thời điểm</th>
                                            <th>Người mua</th>
                                            <th>Giá</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#ifEquals session.user products.Up_User_id}}
                                        {{#each hispro}}
                                        <form action="/product/refuseAucs" method="POST">
                                            <tr>
                                                <td>{{TIME}}</td>
                                                <input style="display:none" name="proid" type="text" value="{{ID_PRO}}">
                                                <td>{{USER}}</td>
                                                <input style="display:none" name="userid" type="text"
                                                    value="{{UserID}}">
                                                <td>{{PRICE}}</td>
                                                <td><button class="btn btn-primary">Từ chối</button></td>
                                            </tr>
                                        </form>

                                        {{/each}}
                                        {{else}}
                                        {{#each hispro}}
                                        <tr>
                                            <td>{{TIME}}</td>
                                            <td>{{USER}}</td>
                                            <td>{{PRICE}}</td>
                                        </tr>
                                        {{/each}}
                                        {{/ifEquals}}

                                    </tbody>
                                </table>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="duyetyeucau" role="tabpane3">
                    <div class="card-body">
                        <div class="profiletimeline">
                            <div class="sl-item">
                                <div class="tab-pane p-3 active" id="profile7" role="tabpanel">
                                    {{#ifEquals session.user products.Up_User_id}}
                                    <table class="table">
                                        <thead class="bg-inverse text-white">
                                            <tr>
                                                <th>STT</th>
                                                <th>Tên</th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each requestauction}}
                                            <tr>

                                                <td>{{STT}}</td>
                                                <td>
                                                    {{Username}}
                                                </td>

                                                <td></td>

                                                <td>
                                                    <button data-userid="{{ID_USER}}" data-idseller="{{ID_SELLER}}"
                                                        data-idpro="{{ID_PRO}}"
                                                        class="btn btn-primary duyet">Duyệt</button>
                                                    <button data-userid="{{ID_USER}}" data-idseller="{{ID_SELLER}}"
                                                        data-idpro="{{ID_PRO}}" class="btn btn-success tuchoi">Từ
                                                        chối</i></button>
                                                </td>

                                            </tr>

                                            {{/each}}

                                        </tbody>
                                    </table>
                                    {{else}}
                                    <h1>Bạn không có quyền xem phần này</h1>
                                    {{/ifEquals}}


                                </div>



                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->


</div>
<H2>CÁC SẢN PHẨM LIÊN QUAN</H2>
<div class="row">

    <!-- column -->
    {{#each productsRelate}}
    <div class="col-lg-3 col-md-6">
        <!-- Card -->
        <div class="card">
            <img class="card-img-top img-responsive" src="/Images/products/{{ProID}}/1.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">{{ProName}}</h4>
                <h4>Giá: {{Price}} VNĐ</h4>
                <h6>Bidder Max: {{User_Max}}</h6>
                <h6>Ngày đăng: {{Up_Pro}}</h6>
                <h6>Kết thúc: {{Dead_time}}</h6>
                <h6>Lượt ra giá: {{NoAuction}}</h6>
                <a href="/detail/products/{{ProID}}" class="btn btn-primary">Chi tiết</a>
                <button type="button" class="btn btn-danger watchlist" aria-haspopup="true" aria-expanded="false">
                    <i class="mdi mdi-heart"></i>
                </button>
            </div>
        </div>
        <!-- Card -->
    </div>
    <!-- column -->
    <!-- column -->
    {{/each}}
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
<script src="/js/detailProduct.js"></script>