<div>
    <i class="fa fa-filter"></i>
    <select form="SearchForm" id="filter" class="form-control custom-select"
        data-placeholder="Choose a Category" tabindex="1" style="width:300px">
        <option value=-1>Chọn cách sắp xếp</option>
        <option value=1>Thời gian kết thúc giảm dần</option>
        <option value=2>Giá tăng dần</option>

    </select>
</div>
</br>
<div class="row">
    <div class="col-12">

        <!-- Row -->
        <div class="row">
            <!-- column -->
            {{#each ps}}
            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" src="/Images/products/{{ProID}}/1.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">{{ProName}}</h4>
                        <h4>Giá: {{Price}} VNĐ</h4>
                        <h6>Bidder Max: {{User_Max}}</h6>
                        <h6>Ngày đăng: {{Up_Pro}}</h6>
                        <h6>Kết thúc: {{Dead_time}}</h6>
                        <h6>Lượt ra giá: {{NoAuction}}</h6>
                        {{#if new}}
                        <h6>Sản phẩm mới</h6>
                        {{/if}}
                        <a href="/detail/products/{{ProID}}" class="btn btn-primary">Detail</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
            <!-- column -->
            {{/each}}
        </div>
        <!-- Row -->
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/{{navs.prev}}/search/products/{{filter}}">Prev</a></li>
        {{#each pages}}
        <li class="page-item {{active}}"><a class="page-link" href="/{{value}}/search/products/{{filter}}">{{value}}</a></li>
        {{/each}}
        <li class="page-item"><a class="page-link" href="/{{navs.next}}/search/products/{{filter}}">Next</a></li>
    </ul>
</nav>
<script>
    $("#filter").change(function () {
        let filter=$("#filter").val();
         $("#SearchForm").attr("action", `/1/search/products/${filter}`);
        $("#SearchForm").submit();
    })
    $().ready(function () {
        $("#filter").val({{filter}});
    })
    $(".page-link").click(function (e) {
        e.preventDefault();
        var href = $(this).attr("href");
    
        $("#SearchForm").attr("action", href);
        $('#SearchForm').submit();
    })
</script>