<div class="row">
  <div class="col-12">

    <!-- Row -->
    <div class="row">
      <!-- column -->
      {{#each ps}}
      <div class="col-lg-3 col-md-6">
        <!-- Card -->
        <div class="card">
          <img class="card-img-top img-responsive" src="/Images/products/{{ProID}}/1.jpg" alt="Card image cap">
          <div class="card-body">
           
            <h4 class="card-title">{{ProName}}</h4>
            <h4>Giá: {{Price}} VNĐ</h4>
            <h6>Bidder Max: {{User_Max}}</h6>
            <h6>Ngày đăng: {{Up_Pro}}</h6>
            <h6>Kết thúc: {{Dead_time}}</h6>
            <h6>Lượt ra giá: {{NoAuction}}</h6>
             <a href="/detail/products/{{ProID}}" class="btn btn-primary">Chi tiết</a>
              <button type="button" data-proid={{ProID}} data-proname="{{ProName}}" class="btn btn-danger watchlist" aria-haspopup="true" aria-expanded="false">         
                    <i class="mdi mdi-heart"></i>
                </button>
          </div>
        </div>
        <!-- Card -->
      </div>
      <!-- column -->
      <!-- column -->
      {{/each}}
    </div>
    <!-- Row -->
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="/{{CatID}}/{{ID}}/{{navs.prev}}/products">Prev</a></li>
    {{#each pages}}
    <li class="page-item {{active}}"><a class="page-link" href="/{{CatID}}/{{ID}}/{{value}}/products">{{value}}</a></li>
    {{/each}}
    <li class="page-item"><a class="page-link" href="/{{CatID}}/{{ID}}/{{navs.next}}/products">Next</a></li>
  </ul>
</nav>
